@font-face {
    font-family: beINNormal;
    src: url("../fonts/beIN.ttf");
  }
.shaps>.spah1{
width: 300px;
height: 337px;
position: absolute;
left: 0;
top:0;
background-color: #27398B;
z-index: 10;
}
.shaps>.spah2{
    background-color: #D8DEFD;
    position: absolute;
    top:0;
    left: 100px;
    width: 299px;
    height: 366px;
}
.theme_3{
    margin-top: 104px;
    margin-right: 100px;
}
.theme_3>span{
    font-size: 58px;
    color:#263788;
    font-family: "beINNormal";
}
.theme_3>section,
.theme_3>article{
    display: flex;
}
.theme_3>section{
    column-gap: 65px;
}
.theme_3>article{
    column-gap: 44px;
    justify-content: center;
    margin-right: -230px;

}
.theme_3>section figure img,
.theme_3>article figure img{
    width: 511px;
    height: 666px;
}
.theme_3>section >div{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.theme_3>section >div,
.theme_3>article >div
{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.theme_3>section >div span.title,
.theme_3>article >div span.title{
    font-size: 66px;
    font-family: "beINNormal";
}
.theme_3>section >div>p,
.theme_3>article >div>p{
    font-size: 43px;
    width: 500px;
    font-family: "beINNormal";
    color:#B7B7B7;
    margin-top: 0;
    margin-bottom: 0;
}
.theme_3>section >div>button,
.theme_3>article>div >div>button


{
    width: 204px;
    height: 73px;
    background-color: #263788;
    color:#fff;
    font-size: 28px;
    border:0;
}
.theme_3>section >div>span.price{
    direction: ltr  ;
    font-size: 40px;
    color:#686868;
    font-family: "beINNormal";
}
.theme_3>article>div >div{
    display: flex;
    column-gap:50px;
}

.theme_3>article>div >div>span.price{
    font-size: 40px;
    color:#686868;
    font-family: "beINNormal";

}

figure {
    position: relative;
    }

figure .colors{
    position: absolute;
    display: flex;
    right: -70px;
    top: 23px;
    width: 38px;
    flex-direction: column;
    row-gap: 24px;
    justify-content: center;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.362);
 border-radius: 20px;
    padding: 10px;
    height: 150px;
    margin: auto;
    margin-right: 100px;
} figure .colors  span{
    margin:auto;
    width: 37px;
    height: 34px;
    border-radius: 50%;
}
figure  .colors span.color1{
    background: #5d3519;
}

figure  .colors  span.color2{
    background: #000000;
}
figure  .colors span.color3{
    background: #D4656E;
}

  

@media only screen  and (max-width:1200px){

    .theme_3{
        margin-right: 50px;
    }

    .shaps>.spah1{
        width: 230px;
        height: 227px;
        }
        .shaps>.spah2{
            width: 259px;
            height: 257px;
        }
        .theme_3>span{
            font-size: 50px;
        }
        .theme_3>article{
            column-gap: 44px;
            justify-content: center;
            margin-right: 0px;
        
        }
        .theme_3>section figure img,
        .theme_3>article figure img{
            width: 491px;
            height: 566px;
        }
        .theme_3>section >div span.title,
        .theme_3>article >div span.title{
            font-size:56px;
            font-family: "beINNormal";
        }
        .theme_3>section >div>p,
        .theme_3>article >div>p{
            font-size: 33px;
            width: 400px;
        }
        .theme_3>section >div>button,
        .theme_3>article>div >div>button
        {
            width: 184px;
            height: 63px;
            font-size: 23px;
        }
        .theme_3>section >div>span.price{
            font-size: 30px;
        }
        .theme_3>article>div >div{
            column-gap:50px;
        }
        
        .theme_3>article>div >div>span.price{
            font-size: 30px;
        
        }
        
        
        figure .colors{
            position: absolute;
            display: flex;
            right: -70px;
            top: 23px;
            width: 30px;
            flex-direction: column;
            row-gap: 20px;
            justify-content: center;
            background-color: white;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.362);
         border-radius: 20px;
            padding: 10px;
            height: 150px;
            margin: auto;
            margin-right: 100px;
        } figure .colors  span{
            margin:auto;
            width: 30px;
            height: 34px;
            border-radius: 50%;
        }









}

@media only screen  and (max-width:1100px){

    .theme_3{
        margin-right: 50px;
    }

    .shaps>.spah1{
        width: 163px;
        height: 190px;
        }
        .shaps>.spah2{
            width: 162px;
            height: 199px;
        }
        .theme_3>span{
            font-size: 50px;
        }
        .theme_3>article{
            column-gap: 44px;
            justify-content: center;
            margin-right: 0px;
        
        }
        .theme_3>section figure img,
        .theme_3>article figure img{
            width: 319px;
            height: 418px;
        }
        .theme_3>section >div span.title,
        .theme_3>article >div span.title{
            font-size:37px;
            font-family: "beINNormal";
        }
        .theme_3>section >div>p,
        .theme_3>article >div>p{
            font-size: 26px;
            width: 247px;
        }
        .theme_3>section >div>button,
        .theme_3>article>div >div>button
        {
            width: 127px;
            height: 46px;
            font-size: 23px;
        }
        .theme_3>section >div>span.price{
            font-size: 16px;
        }
        .theme_3>article>div >div{
            column-gap:50px;
        }
        
        .theme_3>article>div >div>span.price{
            font-size: 16px;
        
        }
        
        
        figure .colors{
            position: absolute;
            display: flex;
            right: -70px;
            top: 23px;
            width: 20px;
            flex-direction: column;
            row-gap: 20px;
            justify-content: center;
            background-color: white;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.362);
         border-radius: 20px;
            padding: 10px;
            height: 100px;
            margin: auto;
            margin-right: 100px;
        } figure .colors  span{
            margin:auto;
            width: 16px;
            height: 34px;
            border-radius: 50%;
        }






}

@media only screen  and (max-width:720px){
    
    .theme_3{
        margin-right: 10px;
    }

    .shaps>.spah1{
        width: 98px;
        height: 114px;
        }
        .shaps>.spah2{
            width: 98px;
            height: 120px;
            left: 30px;
        }
        .theme_3>span{
            font-size: 20px;
        }
        .theme_3>section {
            column-gap: 17px;
        }
        .theme_3>article{
            column-gap: 14px;
            margin-right: 0px;
        }
        .theme_3>section figure img,
        .theme_3>article figure img{
            width: 173px;
            height: 226px;
        }
        .theme_3>section >div span.title,
        .theme_3>article >div span.title{
            font-size:21px;
        }
        .theme_3>section >div>p,
        .theme_3>article >div>p{
            font-size: 15px;
            width: 142px;
        }
        .theme_3>section >div>button,
        .theme_3>article>div >div>button
        {
            width: 69px;
            height: 25px;
            font-size: 10px;
        }
        .theme_3>section >div>span.price{
            font-size: 14px;
        }
        .theme_3>article>div >div{
            column-gap:10px;
        }
        
        .theme_3>article>div >div>span.price{
            font-size: 14px;
        
        }
        
        
        figure .colors{
            position: absolute;
            display: flex;
            right: -70px;
            top: 23px;
            width: 10px;
            flex-direction: column;
            row-gap: 10px;
            justify-content: center;
            background-color: white;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.362);
         border-radius: 20px;
            padding: 4px;
            height: 60px;
            margin: auto;
            margin-right: 100px;
        } figure .colors  span{
            margin:auto;
            width: 10px;
            height: 24px;
            border-radius: 50%;
        }

}